:root {
    --nav-back-bgcolor: rgb(109, 151, 190);
    --nav-back-fgcolor: rgb(243, 243, 243);
    --nav-back-bgcolor-dark: rgb(80, 121, 158);
    --nav-back-fgcolor-dark: rgb(219, 219, 219);

    --nav-main-bgcolor: rgb(100, 127, 151);
    --nav-main-fgcolor: rgb(206, 214, 221);
    --btn-back-bgcolor: var(--nav-back-bgcolor);
    --btn-back-fgcolor: var(--nav-back-fgcolor);

    --main-bgcolor: rgb(219, 230, 240);
    --main-color: rgb(58, 63, 68);
}

body {
    display: grid;
    grid-template-areas:
        "top top top"
        "lft mid rgt"
        "bot bot bot";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;

    min-height: 100vh;
    min-height: 100svh;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #80807f;
    background-image: url(../img/canvas.jpg);

    overflow: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.shadow {
    border: none;
    height: 2rem;
    width: 90%;
    height: 3rem;
    margin-top: 0;
    box-shadow: 0 1rem 1.5rem -1.4rem rgba(0, 0, 0, 0.5);
    margin: -3rem auto 2rem;
}

header {
    grid-area: top;

    margin: 0;
    padding: 0;

    box-shadow: 0 0.125rem 0 black, 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.25);
    background-color: var(--nav-back-bgcolor);
    color: var(--nav-back-fgcolor);

    z-index: 1;
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Logo | Menu | User Menu */
header nav>ul {
    flex: 1;
    display: flex;

    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

/* Logo */
header nav .logo>* {
    display: flex;

    justify-items: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    margin-left: 0.25rem;
    padding: 0.25rem;
}

header nav .logo {
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

header nav .logo:hover {
    background-color: var(--nav-main-bgcolor);
    color: var(--nav-main-fgcolor);
}

header nav .logo img {
    margin-right: 0.25rem;
    max-width: 2.5rem;
    height: auto;
}

/* Menu */
header nav .menu {
    display: flex;
}

header nav .menu ul {
    display: flex;

    margin: 0;
    padding: 0.5rem;
}

header nav .menu ul li {
    display: flex;
    padding: 0.25rem;

    margin-left: 0.25rem;
    margin-right: 0.25rem;

    justify-content: center;
    align-items: center;

    box-shadow: 0 0rem 0 transparent, 0 0rem 0 transparent;
    background-color: var(--nav-back-bgcolor);
    color: var(--nav-back-fgcolor);
    border-radius: 0.25rem;

    transform-origin: center;
    transition:
        box-shadow 0.25s ease-in-out,
        color 0.25s ease-in-out,
        background-color 0.25s ease-in-out,
        transform 0.25s ease-in-out;
}

header nav .menu ul li:hover {
    box-shadow:
        0 0 0 transparent inset,
        0 0.125rem 0 black,
        0 0.125rem 2rem -0.5rem rgba(0, 0, 0, 0.25);
    background-color: var(--nav-main-bgcolor);
    color: var(--nav-main-fgcolor);
    transform: translateY(-0.125rem);
}

header nav .menu ul li:active {
    background-color: var(--nav-back-bgcolor-dark);
    color: var(--nav-back-fgcolor-dark);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) inset,
        0 0 0 transparent,
        0 0 0 transparent;
    transform: translateY(0);
}

header nav .menu ul li:first-child {
    margin-left: 0;
}

header nav .menu ul li:last-child {
    margin-right: 0;
}

/* User Menu */
header nav .user-menu {
    position: relative;
    display: flex;

    transition: background-color 0.25s ease-in-out;
}

header nav .user-menu>button {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0.25rem;
    border: none;

    background-color: transparent;
    color: var(--nav-main-fgcolor);
}

header nav .user-menu.shown, header nav .user-menu:hover {
    background-color: var(--nav-main-bgcolor);
}

header nav .user-menu>button>img {
    max-width: 2rem;

    margin-left: 0.25rem;
    border-radius: 50%;
    border: 0.0625rem solid black;

    background-color: var(--nav-back-bgcolor);
}

header nav .user-menu>ul {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 100%;
    right: 0;
    min-width: min(12rem, 50vw);
    margin: 0;
    padding: 0;

    background-color: var(--nav-main-bgcolor);
    color: var(--nav-main-fgcolor);
    box-shadow: 0rem 0.75rem 1rem -0.5rem rgba(0, 0, 0, 0);
    border-bottom-left-radius: 0.5rem;

    transform-origin: 50% 0%;
    transform: scaleY(0%);
    opacity: 0;
    transition:
        box-shadow 0.25s ease-in-out,
        transform 0.25s ease-in-out,
        opacity 0.25s ease-in-out;

    user-select: none;
    pointer-events: none;
}

header nav .user-menu ul.shown {
    display: flex;

    box-shadow: 0 0.125rem 0 black, 0rem 0.75rem 1rem -0.5rem rgba(0, 0, 0, 0.25);
    transform: scaleY(100%);
    opacity: 1;

    user-select: auto;
    pointer-events: auto;
}

header nav .user-menu ul li {
    margin: 0.25rem 0.5rem 0.25rem 0.5rem;
    padding: 0.5rem;

    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 transparent inset, 0 0 0 transparent, 0 0 0 transparent;

    transition:
        box-shadow 0.25s ease-in-out,
        background-color 0.25s ease-in-out,
        color 0.25s ease-in-out,
        transform 0.25s ease-in-out;
}

header nav .user-menu ul li:hover {
    background-color: var(--nav-back-bgcolor);
    color: var(--nav-back-fgcolor);
    box-shadow:
        0 0 0 transparent inset,
        0 0.125rem 0 black,
        0 0.125rem 2rem -0.5rem rgba(0, 0, 0, 0.25);
    transform: translateY(-0.125rem);
}

header nav .user-menu ul li:active {
    background-color: var(--nav-back-bgcolor-dark);
    color: var(--nav-back-fgcolor-dark);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) inset,
        0 0 0 transparent,
        0 0 0 transparent;
}

header nav .user-menu ul li:first-child {
    margin-top: 0.5rem;
}

header nav .user-menu ul li:last-child {
    margin-bottom: 0.5rem;
}

/* Main */
main {
    grid-area: mid;

    margin-left: auto;
    margin-right: auto;

    width: 80%;
    padding: 0.5rem;

    box-shadow: -0.125rem 0 0 black, 0.125rem 0 0 black, 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.25);
    background-color: var(--main-bgcolor);
}

form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border: 0.125rem solid black;
    border-radius: 1rem;
    width: 30rem;
    margin: 0.5rem;
    margin-bottom: 1rem;

    background-color: white;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.25);

    overflow: hidden;
}

/* Add some padding to the end if no submit button */
form:not(:has(button[type="submit"])) {
    padding-bottom: 2rem;
}

form h2 {
    text-align: center;
    margin: none;
    padding: none;
}

form .item,
form .pair {
    display: flex;
    position: relative;
    align-items: center;

    width: 75%;

    margin: 0.25rem;
}

form .pair {
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

form .pair>* {
    flex: 1;
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;

    box-shadow:
        0 0 0 transparent inset,
        0 0 0 transparent,
        0 0 0 transparent;

    background-color: var(--nav-back-bgcolor);
    color: var(--nav-back-fgcolor);

    transform: translateY(0);

    transition:
        box-shadow 0.25s ease-in-out,
        color 0.25s ease-in-out,
        background-color 0.25s ease-in-out,
        transform 0.25s ease-in-out;

    overflow: hidden;
}

form button:has(a) {
    padding: 0;
}

form button:hover {
    background-color: var(--nav-main-bgcolor);
    color: var(--nav-main-fgcolor);

    box-shadow:
        0 0 0 transparent inset,
        0 0.125rem 0 black,
        0 0.125rem 2rem -0.5rem rgba(0, 0, 0, 0.25);

    transform: translateY(-0.125rem);
}

form button:active {
    box-shadow:
        0 0 2rem rgba(0, 0, 0, 0.25) inset,
        0 0 0 transparent,
        0 0 0 transparent;

    background-color: var(--nav-back-bgcolor-dark);
    color: var(--nav-back-fgcolor-dark);
    transform: translateY(0);
}

form button a {
    flex: 1;
    display: block;
    background-color: inherit;
    color: inherit;
    text-decoration: none;

    padding: 0.5rem;
}

form input {
    flex: 1;
    border: 0.125rem solid black;
    border-radius: 0.5rem;
    padding: 1.0rem 1.25rem 0.5rem 1.25rem;

    background-color: white;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.25) inset;
}

form input[type="text"]~label, form input[type="password"]~label {
    position: absolute;

    inset: 0;
    transform: translateY(25%) translateX(1.25rem);
    pointer-events: none;
    transition: all 0.25s ease-in-out;
}

form input[type="text"]:focus~label, form input[type="text"]:valid~label,
form input[type="password"]:focus~label, form input[type="password"]:valid~label {
    transform: translateY(2.5%) translateX(5%);
    font-size: .75rem;
    color: var(--nav-back-bgcolor-dark);
}

form>button:last-child {
    width: 100%;
    min-height: 3rem;
    margin-top: 1.5rem;
    border: none;
    background-color: var(--nav-back-bgcolor);
    color: var(--nav-back-fgcolor);
    font-size: 1.25rem;

    box-shadow: 0 0 0 transparent inset, 0 -0.25rem 2rem rgba(0, 0, 0, 0.25);

    transition:
        box-shadow 0.25s ease-in-out,
        color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

form>button:hover {
    background-color: var(--nav-main-bgcolor);
    color: var(--nav-main-fgcolor);
}

form>button:active {
    background-color: var(--nav-back-bgcolor-dark);
    color: var(--nav-back-fgcolor-dark);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25) inset, 0 -0.25rem 2rem rgba(0, 0, 0, 0.25);
}

/* Custom checkbox */
form .checkbox-item {
    position: relative;
    display: flex;

    flex: 1;
    align-items: center;

    padding-left: 2.5rem;
    min-height: 2rem;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form .checkbox-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    inset: 0;
}

form .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    transform: translateY(-50%);

    border: 0.125rem solid black;
    border-radius: 0.5rem;

    background-color: white;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.25) inset;
    transition: background-color 0.25s ease-in-out;
}

form .checkbox-item:hover input~.checkmark {
    background-color: #ccc;
}

form .checkbox-item input:checked~.checkmark {
    background-color: #2195f35a;
}

form .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

form .checkbox-item input:checked~.checkmark:after {
    opacity: 1;
}

form .checkbox-item .checkmark:after {
    left: 0.4rem;
    top: 0.05rem;
    width: 0.5rem;
    height: 0.9rem;
    border: solid black;
    border-width: 0 0.125rem 0.125rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Footer */
footer {
    grid-area: bot;

    margin: 0;
    padding: 0.25rem;
    text-align: center;

    box-shadow: 0 -0.125rem 0 black, 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.25);
    background-color: var(--nav-back-bgcolor);
    color: var(--nav-back-fgcolor);
}