:root {
    --nav-back-bgcolor: rgb(109, 151, 190);
    --nav-back-fgcolor: rgb(243, 243, 243);
    --nav-back-bgcolor-light: rgb(134, 169, 202);
    --nav-back-fgcolor-light: rgb(255, 255, 255);
    --nav-back-bgcolor-dark: rgb(80, 121, 158);
    --nav-back-fgcolor-dark: rgb(219, 219, 219);

    --nav-main-bgcolor: rgb(100, 127, 151);
    --nav-main-fgcolor: rgb(206, 214, 221);
    --btn-back-bgcolor: var(--nav-back-bgcolor);
    --btn-back-fgcolor: var(--nav-back-fgcolor);

    --main-bgcolor: rgb(219, 230, 240);
    --main-fgcolor: rgb(58, 63, 68);
    --main-bgcolor-light: rgb(232, 236, 240);
    --main-fgcolor-light: rgb(86, 89, 92);
    --main-bgcolor-dark: rgb(199, 207, 214);
    --main-fgcolor-dark: rgb(40, 42, 44);

    --main-bgcolor-red: rgb(224, 55, 78);
    --main-fgcolor-red: rgb(226, 106, 106);

    --border-color: rgba(0, 0, 0, 0.5);
}

body {
    display: grid;
    grid-template-areas:
        "top top top"
        "lft mid rgt"
        "bot bot bot";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;

    height: 100vh;
    height: 100svh;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #80807f;
    background-image: url(../img/canvas.jpg);

    overflow: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.wide {
    width: 80%;
}

.vert {
    flex-direction: column;
}

.window {
    border: 0.125rem solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.125);
    padding: 0.5rem;
}

.shadow {
    border: none;
    height: 2rem;
    width: 90%;
    height: 3rem;
    margin-top: 0;
    box-shadow: 0 1rem 1.5rem -1.4rem rgba(0, 0, 0, 0.5);
    margin: -3rem auto 2rem;
}

header {
    grid-area: top;

    margin: 0;
    padding: 0;

    box-shadow: 0 0.125rem 0 var(--border-color), 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.25);
    background-color: var(--nav-back-bgcolor);
    color: var(--nav-back-fgcolor);

    z-index: 1;
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Logo | Menu | User Menu */
header nav>ul {
    flex: 1;
    display: flex;

    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

/* Logo */
header nav .logo>* {
    display: flex;

    justify-items: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    margin-left: 0.25rem;
    padding: 0.25rem;
}

header nav .logo {
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

header nav .logo:hover {
    background-color: var(--nav-back-bgcolor-light);
    color: var(--nav-back-fgcolor-light);
}

header nav .logo img {
    margin-right: 0.25rem;
    max-width: 2.5rem;
    height: auto;
}

/* Menu */
header nav .menu {
    display: flex;
}

header nav .menu ul {
    display: flex;

    margin: 0;
    padding: 0.5rem;
}

header nav .menu ul li {
    display: flex;
    padding: 0.25rem;

    margin-left: 0.25rem;
    margin-right: 0.25rem;

    justify-content: center;
    align-items: center;

    box-shadow: 0 0rem 0 transparent, 0 0rem 0 transparent;
    background-color: var(--nav-back-bgcolor);
    color: var(--nav-back-fgcolor);
    border-radius: 0.25rem;

    transform-origin: center;
    transition:
        box-shadow 0.25s ease-in-out,
        color 0.25s ease-in-out,
        background-color 0.25s ease-in-out,
        transform 0.25s ease-in-out;
}

header nav .menu ul li:hover {
    box-shadow:
        0 0 0 transparent inset,
        0 0.125rem 0 var(--border-color),
        0 0.125rem 2rem -0.5rem rgba(0, 0, 0, 0.25);
    background-color: var(--nav-back-bgcolor-light);
    color: var(--nav-back-fgcolor-light);
    transform: translateY(-0.125rem);
}

header nav .menu ul li:active {
    background-color: var(--nav-back-bgcolor-dark);
    color: var(--nav-back-fgcolor-dark);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) inset,
        0 0 0 transparent,
        0 0 0 transparent;
    transform: translateY(0);
}

header nav .menu ul li:first-child {
    margin-left: 0;
}

header nav .menu ul li:last-child {
    margin-right: 0;
}

/* User Menu */
header nav .user-menu {
    position: relative;
    display: flex;

    transition: background-color 0.25s ease-in-out;
}

header nav .user-menu>button {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0.25rem;
    border: none;

    background-color: transparent;
    color: var(--nav-back-fgcolor);
}

header nav .user-menu.shown, header nav .user-menu:hover {
    background-color: var(--nav-back-bgcolor-light);
}

header nav .user-menu>button>img {
    max-width: 2rem;

    margin-left: 0.25rem;
    border-radius: 50%;


    border: 0.0625rem solid transparent;
    background-color: var(--nav-back-bgcolor);

    transition: background-color 0.25s ease-in-out, border 0.25s ease-in-out;
}

header nav .user-menu.shown>*>img, header nav .user-menu:hover>*>img {
    border: 0.0625rem solid var(--border-color);
}

header nav .user-menu>ul {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 100%;
    right: 0;
    min-width: min(12rem, 50vw);
    margin: 0;
    padding: 0;

    background-color: var(--nav-back-bgcolor-light);
    color: var(--nav-back-fgcolor-light);
    box-shadow: 0rem 0.75rem 1rem -0.5rem rgba(0, 0, 0, 0);
    border-bottom-left-radius: 0.5rem;

    transform-origin: 50% 0%;
    transform: scaleY(0%);
    opacity: 0;
    transition:
        box-shadow 0.25s ease-in-out,
        transform 0.25s ease-in-out,
        opacity 0.25s ease-in-out;

    user-select: none;
    pointer-events: none;
}

header nav .user-menu ul.shown {
    display: flex;

    box-shadow: 0 0.125rem 0 var(--border-color), 0rem 0.75rem 1rem -0.5rem rgba(0, 0, 0, 0.25);
    transform: scaleY(100%);
    opacity: 1;

    user-select: auto;
    pointer-events: auto;
}

header nav .user-menu ul li {
    margin: 0.25rem 0.5rem 0.25rem 0.5rem;
    padding: 0.5rem;

    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 transparent inset, 0 0 0 transparent, 0 0 0 transparent;

    transition:
        box-shadow 0.25s ease-in-out,
        background-color 0.25s ease-in-out,
        color 0.25s ease-in-out,
        transform 0.25s ease-in-out;
}

header nav .user-menu ul li:hover {
    background-color: var(--nav-back-bgcolor);
    color: var(--nav-back-fgcolor);
    box-shadow:
        0 0 0 transparent inset,
        0 0.125rem 0 var(--border-color),
        0 0.125rem 2rem -0.5rem rgba(0, 0, 0, 0.25);
    transform: translateY(-0.125rem);
}

header nav .user-menu ul li:active {
    background-color: var(--nav-back-bgcolor-dark);
    color: var(--nav-back-fgcolor-dark);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) inset,
        0 0 0 transparent,
        0 0 0 transparent;
    transform: translateY(0);
}

header nav .user-menu ul li:first-child {
    margin-top: 0.5rem;
}

header nav .user-menu ul li:last-child {
    margin-bottom: 0.5rem;
}

/* Main */
main {
    position: relative;
    grid-area: mid;

    margin-left: auto;
    margin-right: auto;

    width: 80%;
    padding: 0.5rem;

    box-shadow: -0.125rem 0 0 var(--border-color), 0.125rem 0 0 var(--border-color), 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.25);
    background-color: var(--main-bgcolor);
    color: var(--main-fgcolor);

    overflow-y: auto;
}

main>h1:first-child {
    text-align: center;
}

/* Footer */
footer {
    grid-area: bot;

    margin: 0;
    padding: 0.25rem;
    text-align: center;

    box-shadow: 0 -0.125rem 0 var(--border-color), 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.25);
    background-color: var(--nav-back-bgcolor);
    color: var(--nav-back-fgcolor);

    z-index: 1;
}